<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Dear <%= @account.user_full_name %>,
    </p>
    <p>
      We are delighted to welcome you to Xcelyst! Your account setup is now complete, and we're excited to have you on board. Below are your account details:
    </p>
    <p>
      User ID: <%= @account.email %> <br>
      Temporary Password: <%= @password %>
    </p>
    <p>
      To ensure the security of your account, we recommend changing your password as soon as possible. Please click on the following link to set a new password: <b> <%= link_to "Change password", @url %> </b>>
    </p>
    <p>
      If you encounter any difficulties or have any questions, our team is here to assist you. Simply reach out to us at <b> <%= link_to "info@xcelyst.com", '#' %> </b>, and we'll be happy to help.
    </p>
    <p>
      Once again, thank you for choosing Xcelyst. We are committed to providing you with an exceptional platform experience.
    </p>
    <%= render 'layouts/email_footer'%>
  </body>
</html>
