<style type="text/css">
  #error_explanation{
    color: red;
  }
  input[type="checkbox"]{
    border: 1px solid #857575;
    vertical-align:middle;
  }
  label{
    padding-top: 2px;
  }

</style>

<% if @email_footer.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @email_footer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if action_name == "new" || action_name == "create"%>
  <% url = admin_email_footers_path %>
  <% button_label = 'Create' %>
<% else %>
  <% url = admin_email_footer_path %>
  <% button_label = 'Update' %>
<% end %>

<%= form_with(model: @email_footer, url: url, local: true) do |form| %>
  <div>
    <%= form.label :body, 'Body:' %>
    <%= form.text_area :body, :id => "body", :rows => 10, :cols => 20  %>
  </div>
  <br>
  <div>
    <%= form.label :enable, 'Enable:' %>
    <%= form.check_box :enable, id: 'enable-input' %>
  </div>

<fieldset class="actions">
  <ol>
    <li class="action input_action " id="contact_submit_action">
      <input type="submit" name="commit" value="<%= button_label %> Email Template Footer" data-disable-with="<%= button_label %> Email Template Footer">
    </li>
    <li class="cancel"><a href="/admin/email_footers">Cancel</a></li>
  </ol>
</fieldset>
<% end %>
<script> 
var editor = new FroalaEditor('#body', {
  toolbarButtons: {
    'moreText': {
      'buttons': ['bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'textColor', 'backgroundColor', 'inlineClass', 'inlineStyle', 'clearFormatting']
    },
    'moreParagraph': {
      'buttons': ['alignLeft', 'alignCenter', 'alignRight', 'alignJustify', 'formatOL', 'formatUL', 'paragraphFormat', 'paragraphStyle', 'lineHeight', 'outdent', 'indent', 'quote']
    },
    'moreRich': {
      'buttons': ['insertLink', 'insertImage', 'insertVideo', 'insertTable', 'emoticons', 'fontAwesome', 'specialCharacters', 'insertFile', 'insertHR']
    },
    'moreMisc': {
      'buttons': ['undo', 'redo', 'fullscreen', 'print', 'getPDF', 'spellChecker', 'selectAll', 'html', 'help']
    }
  },
});
</script>
