<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hello Admin,<br><br>

      We would like to inform you that <%= @jd.role.account.first_name %> has created a new job description of <%= @type %> for a <%= @jd.jd_type %> position. <br>

      To review the job description, please click on the link provided below:
      <%= link_to "Click Here", "#{@jd_url}" %><br><br>

      Thank you for your attention to this matter.
    </p>
    <%= render 'layouts/email_footer'%>
  </body>
</html>
