<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Dear <%= @candidate_name %>,
    </p>
    <p>
      Thank you for selecting the time slot on <%= @schedule_date&.to_date&.strftime('%B %d, %Y') %> at <%= @starting_at&.to_i / 3600 %>:<%= "%02d" % ((@starting_at&.to_i % 3600) / 60) %> for the job role of <%= @job_title %>. We are excited to proceed with the next step of the interview process.
    </p>
    <p>
      Please find below the details for your upcoming interview:
      <br>
        Date and Time: <%= @schedule_date.to_date.strftime('%B %d, %Y') %> at <%= @starting_at.to_i / 3600 %>:<%= "%02d" % ((@starting_at.to_i % 3600) / 60) %>
      <br>
        Meeting Link: <%= @meeting_link %> <br><br>
    </p>

    <p>
      If you have any questions or need further assistance, please do not hesitate to reach out to us at info@xcelyst.com. We wish you the best of luck for your interview!<br><br>
    </p>

    <%= render 'layouts/email_footer' %>
  </body>
</html>
